.main-theme {
   --color-text-general: #f6efe8;
   --color-text-title: #fdf2e3;
   --color-text-additional: rgb(239, 247, 247);
   --color-background: #67767c;
   --color-background-sidebar: #22333b;
   --color-link: #ddc5aa;
   --color-visited: #c29661;
   --color-hover: #ffd6a4;
   --color-profile-firstname: #f5e2cc;
   --color-profile-secondname: #dea96c;
   --color-borders: #ecd3b9f7;
   --color-border-black: rgb(208, 206, 206);
   --color-email: #c29661;
}