*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    /* indentations */
    --margin-size-top-big: 58px;
    --margin-size-top-small: 25px;
    --margin-left-big: 55px;
    --margin-left-middle: 41px;
    --margin-size-bottom-big: 36px;
    --margin-size-bottom-middle: 25px;
    --margin-size-bottom-small: 20px;
    --margin-size-right: 50px;
    --padding-bottom-middle: 28px;
    --padding-bottom-small: 15px;
     
    /* font sizes */
    --font-size-name: 40px;
    --font-size-title: 36px;
    --font-size-infoTitle: 32px;
    --font-size-titleMobile: 24px;
    --font-size-lang: 20px;
    --font-size-hover: 18px;
    --font-size-summary: 16px;
    --font-size-paragraph: 14px;
}
.general{
    margin: 0 auto;
    width: 1200px;
}
.mt58{
    margin-top: var(--margin-size-top-big);
}
.fw600{
    font-weight: 600;
}
.wml55{
    width: 706px;
    margin-left: var(--margin-left-big);
}
.ml41{
    margin-left: var(--margin-left-middle);
}
.marg2849{
    margin: 28px 0 49px;
}
.mb20{
    margin-bottom: var(--margin-size-bottom-small);
}
p{
    font-size: var(--font-size-paragraph);
    color: var(--color-text-general);
}
.wrapper-left{
    position: sticky;
    width: 360px;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    float: left;
    background-color: var(--color-background-sidebar);
    border: 1px solid var(--color-borders);
    box-shadow: 10px -5px 12px 2px #00000038;
}
.wrapper-right{
    width: 70%;
    float: right;
    background-color: var(--color-background);
}
.title{
    color: var(--color-text-title);
    font-size: var(--font-size-title);
    width: 659px;
    border-bottom: 5px solid var(--color-border-black);
    padding-bottom: var(--padding-bottom-middle);
}
.position{
    margin-top: var(--margin-size-top-small);
    margin-bottom: var(--margin-size-bottom-middle);
}
.list1,
.list2{
    display: inline-block;
    margin-right: var(--margin-size-right);
    color: var(--color-text-general);
}
.profile-name{
    color: var(--color-profile-firstname);
    font-size: var(--font-size-name);
    padding: 0 0 36px 40px;
}
.surname{
    color: var(--color-profile-secondname);
    font-size: var(--font-size-name);
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.userPhoto:hover{
    transform: scale(1.7) translate(75px, 50px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.profile-position{
    margin-bottom: var(--margin-size-bottom-small);
    font-size: var(--font-size-infoTitle);
    color: var(--color-text-general);
}
.InfoTitle{
    width: 289px;
    font-size: var(--font-size-infoTitle);
    line-height: 39px;
    color: var(--color-text-additional);
    border-bottom: 6px solid var(--color-borders);
    margin-bottom: var(--margin-size-bottom-middle);
    padding-bottom: var(--padding-bottom-small);
}
.contactInfo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 29px 19px;
    margin-bottom: var(--margin-size-bottom-big);
    color: var(--color-text-general);
}
.lang{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 29px;
    font-size: var(--font-size-lang);
    line-height: 24px;
    row-gap: 15px;
    color: var(--color-text-title);
}
:nth-child(3).lang{
    margin-bottom: var(--margin-size-bottom-small);
}
.blueText{
    color: var(--color-email);
}
a:link{
    color: var(--color-link);
    text-decoration: underline;
  }
a:visited{
    color: var(--color-visited);
    text-decoration: underline;
  }
a:hover{
    color: var(--color-hover);
    text-decoration: none;
    font-size: var(--font-size-hover);
}
.summary-description,
.fs16>p{
    font-size: var(--font-size-summary); 
 }
.summary-description{
    line-height: 19px;
    color: var(--color-text-additional);
}
.listDecoration{
    list-style-position: inside;
}
.prevJob{
    opacity: .7;
}
.prevJob:hover{
    opacity: 1;
}
.bold-text{
    font-size: var(--font-size-paragraph);
    line-height: 17px;
}

@media (max-width: 620px){
    .general{
        width: 620px;
    }
    .wrapper-left{
        max-width: 620px;
        width: 100%;
        float: none;
        z-index: 1;
        position: relative;
        margin: 0 auto;
    }
    .wrapper-right{
        max-width: 620px;
        width: 96%;
        display: block;
        float: none;
        z-index: 1;
        position: relative;  
    }
    .userPhoto:hover{
        transform: none;
    }
    .title{
        max-width: 620px;
        width: 80%;
        margin: 0 20px;
        padding: 0 20px 28px 20px;
        font-size: var(--font-size-infoTitle);
    }
    .contactInfo{
        margin-bottom: var(--margin-size-bottom-small);
    }
    .list1{
        margin: 28px auto 0;
    }
    .list2{
        margin: 0 auto 49px 0;
    }
    .userPhoto{
        max-width: 620px;
        min-width: 300px;
    }
    .wml55{
        max-width: 620px;
        min-width: 300px;
        display: inline;
    }
    .mt58{
        margin-top: var(--margin-size-top-small);
    }
    .marg2849{
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .InfoTitle{
        font-size: var(--font-size-titleMobile);
    }
    .summary-description,
    .listDecoration{
        font-size: var(--font-size-paragraph);
    }
    .prevJob{
        opacity: 1;
    }
    .mobile>p{
        padding-left: 5%;
        padding-right: 10%;
    }
    .lorem-text{
        display: none;
    }
} 