body{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
  border-bottom: 1px solid rgb(38, 183, 171);
}
img{
  padding: 10px;
  border: 2px solid rgb(43, 173, 196); 
}
h1{
  font-style: italic;
}
h3{
  font-weight: bold;
}
table{
  background-color: rgb(242, 242, 242);
}
.uppercase{
  text-transform: uppercase;
  background-color: rgb(161, 191, 235);
}
a:link{
  color: #00f;
  text-decoration: underline;
}
a:visited{
  color: #005;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}

.listDecoration{
  list-style-type: square;
}