body{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
header,
section{
  width: 100%;
}
img{
  padding: 10px;
  border: 2px solid rgb(43, 173, 196);
  max-width: 100px;
  max-height: 100px;
  display: inline;
  float: right;
}
.profile-name{
  font-style: italic;
  font-size: 36px;
  margin-bottom: 30px;
}
.profile-position{
  font-size: 20px;
}
.profile-name,
.profile-position,
.bottom-line{
  border-bottom: 1px solid rgb(38, 184, 171);
}
.left-position{
  display: block;
  float: left;
  font-weight: bold;
}
header{
  display: flex;
  flex-direction: column;
}
.offer-link,
.work-exp{
  display: block;
  float: left;
  clear: both;
  margin-bottom: 15px;
}
.offer-link{
  font-size: 18px;
}
.work-exp{
  font-size: 26px;
}
table{
  background-color: rgb(242, 242, 242);
  width: 100%;
}
.uppercase{
  text-transform: uppercase;
  background-color: rgb(161, 191, 235);
}
a:link{
  color: #00f;
  text-decoration: underline;
}
a:visited{
  color: #005;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
.listDecoration{
  list-style-type: square;
}