*{
    box-sizing: border-box;
}
body{
    width: 1024px;
    margin: 0 auto;
}
table,
th,
td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: .5rem .5rem;
}
input,
select,
textarea{
    appearance: none;
    margin: .5rem 0 0 0;
    padding: .5rem .5rem;
    border: none;
    font-size: 1rem;
    display: block;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
}
.textType{
    font-family: Arial, Helvetica, sans-serif;
}
input,
textarea,
select{
    width: 20rem;
}
select{
    background: url('../arrow.png') no-repeat center right .75rem;
    background-size: 4%;
}
option
fieldset{
    border: 2px solid black;
}
legend{
    font-size: 1.2rem;
}
.pointRed,
p{
    color: red;
}
input::placeholder,
textarea::placeholder{
    color: rgba(0, 0, 0, 0.295);
    font-family: Arial, Helvetica, sans-serif;
}
input:optional {
    border: 3px dotted rgb(247, 216, 65);
   
  }
input:invalid,
textarea:invalid{
    outline: none;
    border: 1px solid rgb(203, 24, 24);
    border-radius: 6px;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1px solid rgb(43, 43, 199);
    border-radius: 6px;
}
p{
    margin: 0 0;
    font-size: .8rem;
    margin-bottom: 1rem;
}
input:valid,
textarea:valid{
    outline: none;
    border: 1px solid rgb(1, 104, 4);
    border-radius: 6px;
}

.error,
.success{
    display: none;
}
.error{
    color: red;
}
.success{
    color: rgb(1, 104, 4);
}
input[type="email"]:required + .error{
    display: block;
}
input[type="email"]:valid + .success{
    display: block;
}

input[type="submit"]{
    width: 10rem;
    margin-top: 1rem;
    border: 1px solid rgb(43, 43, 199);
    border-radius: 12px;
    color: rgb(43, 43, 199);
    background-color: white;
}

input[type="submit"]:hover{
   
    background-color: rgb(226, 240, 248);
}